USE [master]
GO
/****** Object:  Database [Floss_friends]    Script Date: 07.04.2026 20:55:53 ******/
CREATE DATABASE [Floss_friends]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Floss_friends].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Floss_friends]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canvas]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canvas](
	[canvas_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[count_per_cm] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Canvas] PRIMARY KEY CLUSTERED 
(
	[canvas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlossFriends_project_customuser]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlossFriends_project_customuser](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[email_verified] [bit] NOT NULL,
	[verification_token] [char](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlossFriends_project_customuser_groups]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlossFriends_project_customuser_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customuser_id] [bigint] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlossFriends_project_customuser_user_permissions]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlossFriends_project_customuser_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customuser_id] [bigint] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palette]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palette](
	[palette_id] [int] IDENTITY(1,1) NOT NULL,
	[name_palette] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Palette] PRIMARY KEY CLUSTERED 
(
	[palette_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Palette_name] UNIQUE NONCLUSTERED 
(
	[name_palette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pattern]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pattern](
	[pattern_id] [int] IDENTITY(1,1) NOT NULL,
	[canvas_id] [int] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[image_original] [varchar](255) NOT NULL,
	[image_preview] [varchar](255) NOT NULL,
	[pattern_data] [nvarchar](max) NOT NULL,
	[size_width] [int] NOT NULL,
	[size_height] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
	[colors_count] [int] NOT NULL,
 CONSTRAINT [PK_Pattern] PRIMARY KEY CLUSTERED 
(
	[pattern_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thread]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[thread_id] [int] IDENTITY(1,1) NOT NULL,
	[palette_id] [int] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[rgb_r] [int] NOT NULL,
	[rgb_g] [int] NOT NULL,
	[rgb_b] [int] NOT NULL,
	[hex_value] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Thread] PRIMARY KEY CLUSTERED 
(
	[thread_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Thread_palette_code] UNIQUE NONCLUSTERED 
(
	[palette_id] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThreadCalculation]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadCalculation](
	[thread_calculation_id] [int] IDENTITY(1,1) NOT NULL,
	[pattern_id] [int] NOT NULL,
	[thread_id] [int] NOT NULL,
	[crosses_count] [int] NOT NULL,
	[length_cm] [decimal](10, 2) NOT NULL,
	[symbol] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ThreadCalculation] PRIMARY KEY CLUSTERED 
(
	[thread_calculation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pattern_thread] UNIQUE NONCLUSTERED 
(
	[pattern_id] ASC,
	[thread_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThreadInventory]    Script Date: 07.04.2026 20:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThreadInventory](
	[thread_inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[thread_id] [int] NOT NULL,
	[skeins_count] [int] NOT NULL,
 CONSTRAINT [PK_ThreadInventory] PRIMARY KEY CLUSTERED 
(
	[thread_inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 07.04.2026 20:55:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 07.04.2026 20:55:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 07.04.2026 20:55:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_groups_customuser_id_6aeeae3d]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [FlossFriends_project_customuser_groups_customuser_id_6aeeae3d] ON [dbo].[FlossFriends_project_customuser_groups]
(
	[customuser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_groups_customuser_id_group_id_cec01f91_uniq]    Script Date: 07.04.2026 20:55:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [FlossFriends_project_customuser_groups_customuser_id_group_id_cec01f91_uniq] ON [dbo].[FlossFriends_project_customuser_groups]
(
	[customuser_id] ASC,
	[group_id] ASC
)
WHERE ([customuser_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_groups_group_id_ce773dd9]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [FlossFriends_project_customuser_groups_group_id_ce773dd9] ON [dbo].[FlossFriends_project_customuser_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_user_permissions_customuser_id_60062ed4]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [FlossFriends_project_customuser_user_permissions_customuser_id_60062ed4] ON [dbo].[FlossFriends_project_customuser_user_permissions]
(
	[customuser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_user_permissions_customuser_id_permission_id_4d5c9a13_uniq]    Script Date: 07.04.2026 20:55:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [FlossFriends_project_customuser_user_permissions_customuser_id_permission_id_4d5c9a13_uniq] ON [dbo].[FlossFriends_project_customuser_user_permissions]
(
	[customuser_id] ASC,
	[permission_id] ASC
)
WHERE ([customuser_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FlossFriends_project_customuser_user_permissions_permission_id_f62cf3db]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [FlossFriends_project_customuser_user_permissions_permission_id_f62cf3db] ON [dbo].[FlossFriends_project_customuser_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pattern_user]    Script Date: 07.04.2026 20:55:53 ******/
CREATE NONCLUSTERED INDEX [IX_Pattern_user] ON [dbo].[Pattern]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pattern] ADD  CONSTRAINT [DF_Pattern_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Pattern] ADD  CONSTRAINT [DF_Pattern_updated_date]  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH NOCHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_groups]  WITH NOCHECK ADD  CONSTRAINT [FlossFriends_project_customuser_groups_customuser_id_6aeeae3d_fk_FlossFriends_project_customuser_id] FOREIGN KEY([customuser_id])
REFERENCES [dbo].[FlossFriends_project_customuser] ([id])
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_groups] CHECK CONSTRAINT [FlossFriends_project_customuser_groups_customuser_id_6aeeae3d_fk_FlossFriends_project_customuser_id]
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_groups]  WITH NOCHECK ADD  CONSTRAINT [FlossFriends_project_customuser_groups_group_id_ce773dd9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_groups] CHECK CONSTRAINT [FlossFriends_project_customuser_groups_group_id_ce773dd9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [FlossFriends_project_customuser_user_permissions_customuser_id_60062ed4_fk_FlossFriends_project_customuser_id] FOREIGN KEY([customuser_id])
REFERENCES [dbo].[FlossFriends_project_customuser] ([id])
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_user_permissions] CHECK CONSTRAINT [FlossFriends_project_customuser_user_permissions_customuser_id_60062ed4_fk_FlossFriends_project_customuser_id]
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [FlossFriends_project_customuser_user_permissions_permission_id_f62cf3db_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[FlossFriends_project_customuser_user_permissions] CHECK CONSTRAINT [FlossFriends_project_customuser_user_permissions_permission_id_f62cf3db_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [FK_Pattern_Canvas] FOREIGN KEY([canvas_id])
REFERENCES [dbo].[Canvas] ([canvas_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [FK_Pattern_Canvas]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [FK_Pattern_FlossFriends_project_customuser] FOREIGN KEY([user_id])
REFERENCES [dbo].[FlossFriends_project_customuser] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [FK_Pattern_FlossFriends_project_customuser]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_Thread_Palette] FOREIGN KEY([palette_id])
REFERENCES [dbo].[Palette] ([palette_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_Thread_Palette]
GO
ALTER TABLE [dbo].[ThreadCalculation]  WITH NOCHECK ADD  CONSTRAINT [FK_ThreadCalculation_Pattern] FOREIGN KEY([pattern_id])
REFERENCES [dbo].[Pattern] ([pattern_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThreadCalculation] CHECK CONSTRAINT [FK_ThreadCalculation_Pattern]
GO
ALTER TABLE [dbo].[ThreadCalculation]  WITH NOCHECK ADD  CONSTRAINT [FK_ThreadCalculation_Thread] FOREIGN KEY([thread_id])
REFERENCES [dbo].[Thread] ([thread_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThreadCalculation] CHECK CONSTRAINT [FK_ThreadCalculation_Thread]
GO
ALTER TABLE [dbo].[ThreadInventory]  WITH NOCHECK ADD  CONSTRAINT [FK_ThreadInventory_FlossFriends_project_customuser] FOREIGN KEY([user_id])
REFERENCES [dbo].[FlossFriends_project_customuser] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThreadInventory] CHECK CONSTRAINT [FK_ThreadInventory_FlossFriends_project_customuser]
GO
ALTER TABLE [dbo].[ThreadInventory]  WITH NOCHECK ADD  CONSTRAINT [FK_ThreadInventory_Thread] FOREIGN KEY([thread_id])
REFERENCES [dbo].[Thread] ([thread_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThreadInventory] CHECK CONSTRAINT [FK_ThreadInventory_Thread]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [CHK_Pattern_colors] CHECK  (([colors_count]>(0)))
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [CHK_Pattern_colors]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [CHK_Pattern_height] CHECK  (([size_height]>(0)))
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [CHK_Pattern_height]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [CHK_pattern_json] CHECK  ((isjson([pattern_data])=(1)))
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [CHK_pattern_json]
GO
ALTER TABLE [dbo].[Pattern]  WITH NOCHECK ADD  CONSTRAINT [CHK_Pattern_width] CHECK  (([size_width]>(0)))
GO
ALTER TABLE [dbo].[Pattern] CHECK CONSTRAINT [CHK_Pattern_width]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [CHK_Thread_hex] CHECK  (([hex_value] like '#[0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F][0-9A-F]'))
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [CHK_Thread_hex]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [CHK_Thread_rgb_b] CHECK  (([rgb_b]>=(0) AND [rgb_b]<=(255)))
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [CHK_Thread_rgb_b]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [CHK_Thread_rgb_g] CHECK  (([rgb_g]>=(0) AND [rgb_g]<=(255)))
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [CHK_Thread_rgb_g]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [CHK_Thread_rgb_r] CHECK  (([rgb_r]>=(0) AND [rgb_r]<=(255)))
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [CHK_Thread_rgb_r]
GO
ALTER TABLE [dbo].[ThreadCalculation]  WITH NOCHECK ADD  CONSTRAINT [CHK_ThreadCalculation_crosses] CHECK  (([crosses_count]>=(0)))
GO
ALTER TABLE [dbo].[ThreadCalculation] CHECK CONSTRAINT [CHK_ThreadCalculation_crosses]
GO
ALTER TABLE [dbo].[ThreadCalculation]  WITH NOCHECK ADD  CONSTRAINT [CHK_ThreadCalculation_length] CHECK  (([length_cm]>=(0)))
GO
ALTER TABLE [dbo].[ThreadCalculation] CHECK CONSTRAINT [CHK_ThreadCalculation_length]
GO
ALTER TABLE [dbo].[ThreadInventory]  WITH NOCHECK ADD  CONSTRAINT [CHK_Inventory_skeins] CHECK  (([skeins_count]>=(0)))
GO
ALTER TABLE [dbo].[ThreadInventory] CHECK CONSTRAINT [CHK_Inventory_skeins]
GO
USE [master]
GO
