* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    letter-spacing: normal;
    font-weight: 100;
    color: rgba(87, 117, 93, 1);
    background: #F6F3EE;
}

button {
    font-family: 'Manrope', sans-serif;
    letter-spacing: normal;
    font-weight: 100;
    background: rgba(87, 117, 93, 0.8);
}
a {
   text-decoration: none; 
}
.create-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    padding: 2rem;
}

.create-btn {
    background: rgba(87, 117, 93, 0.8);
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-btn:hover {
    transform: translateY(-2px);
}



.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-toggle:hover {
    transform: scale(1.1);
}

.sidebar {
    position: fixed;
    left: -300px;
    top: 20px;
    width: 300px;
    background: #5B7765;
    color: white;
    transition: left 0.3s ease;
    border: none;
    border-radius: 20px;
    z-index: 999;
}

.sidebar.open {
    left: 20px;
}

.sidebar-close {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 5px;
}

.sidebar-close:hover {
    color: #ff6b6b;
}

.sidebar-nav {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: white;         
    text-decoration: none; 
    padding: 10px 0px;  
    margin: 5px 0;        
    border-radius: 5px;    
    transition: all 0.3s ease; 
    font-size: 20px;  
    font-weight: lighter;
    text-align: center;   
}

.nav-link:hover { 
    transform: translateX(5px);
}
.btn-exit {
    color: white;         
    text-decoration: none; 
    font-size: 20px;  
    font-weight: lighter;
    text-align: center;
    background: none;
    border: none;   
}


main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.main-content.sidebar-open {
    filter: blur(2px);
}
    
.confirm-modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
}

.confirm-modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.confirm-modal {
    background: #F6F3EE;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.confirm-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.confirm-buttons button {
    flex: 1;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    border: none;
}
body.modal-open-delete .page-content {
    filter: blur(2px);
}
@media (max-width: 768px) {
    .sidebar {
        width: 250px;
        left: -250px;
    }

    .main-nav {
        padding: 1rem;
    }
    
    .main-nav a {
        margin-right: 1rem;
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    .create-section {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    .create-btn {
        font-size: 17px;
        padding: 1rem 2rem;
    }
    main {
        padding: 4rem 0rem;
    }
}
@media (max-width: 480px) {
    .create-section {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    .create-btn {
        font-size: 15px;
        padding: 1rem 1rem;
    }
    .sidebar-toggle {
        font-size: 30px;
    }
    .nav-link, .btn-exit {
        font-size: 15px;  
    }
}