<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение Email - FlossFriends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="check-email-text">
        <h1>Спасибо за регистрацию!</h1>
        <p>На вашу почту отправлено письмо с ссылкой для подтверждения.</p>
    </div>
</body>
</html>
