{% extends 'base.html' %}
{% load static %}

{% block title %}Создание схемы - FlossFriends{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_pattern_steps.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="pattern-steps-container">

        <div class="progress-section">
            <div class="progress-bar">
                <div class="progress-step active" data-step="1">
                    <div class="step-number">1</div>
                    <div class="step-label">Размеры</div>
                </div>
                <div class="progress-step" data-step="2">
                    <div class="step-number">2</div>
                    <div class="step-label">Цвета</div>
                </div>
                <div class="progress-step" data-step="3">
                    <div class="step-number">3</div>
                    <div class="step-label">Легенда</div>
                </div>
            </div>
        </div>

        <div class="pattern-main-content">
            <div class="pattern-section">
                <div class="pattern-container">
                    <div class="pattern-wrapper">
                        {% if pattern %}
                            <img id="sourceImage" src="{{ MEDIA_URL }}{{ pattern.image_original }}" style="display:none;">
                        {% else %}
                            <img id="sourceImage" src="data:image/png;base64,{{ request.session.temp_image }}" style="display:none;">
                        {% endif %}
                        <canvas id="patternCanvas"></canvas>
                        <div class="pattern-overlay" id="patternOverlay"></div>
                    </div>
                </div>
            </div>

            <div class="steps-section">
                <div class="step-content active" id="step1">
                    <div class="colors-card">
                        <div class="dimensions-card">
                            <div class="colors-slider-group">
                                <div class="stat-preview">
                                    <span class="stat-value" id="crossesSize"></span>
                                    <span class="stat-label">размер в крестиках</span>
                                </div>
                            </div>
    
                            <div class="colors-slider-group">
                                <div class="stat-preview">
                                    <span class="stat-value" id="fabricSize"></span>
                                    <span class="stat-label">размер ткани (см)</span>
                                </div>
                            </div>
                            <div>
                                <input type="range" class="colors-slider" id="sizeSlider" min=1 max=100 step=1>
                            </div>
                        </div>
                        <div class="palette-group">
                            <label class="palette-label">Тип канвы:</label>
                            <div class="custom-select" id="typeSelect">
                                <div class="select-selected">Aida 14</div>
                                <div class="select-items">
                                    <div data-value="Aida 14">Aida 14</div>
                                    <div data-value="Aida 16">Aida 16</div>
                                    <div data-value="Aida 18">Aida 18</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step-content" id="step2">
                    <div class="colors-card">
                        <div class="colors-slider-group">
                            <div class="stat-preview">
                                <span style="font-weight: normal;" class="stat-value" id="colorsValueUsed"></span>
                                <span class="stat-label">цветов реально на схеме</span>
                            </div>
                            <div class="stat-preview">
                                <span style="font-weight: normal;" class="stat-value" id="colorsValue"></span>
                                <span class="stat-label">цветов</span>
                            </div>
                            <div>
                                <input type="range" class="colors-slider" min=1 id="colorsSlider">
                                
                            </div>
                        </div>
                        

                        <div class="palette-group">
                            <label class="palette-label">Палитра ниток</label>

                            <div class="custom-select" id="paletteSelect">
                                <div class="select-selected">DMC</div>

                                <div class="select-items">
                                    <div data-value="DMC">DMC</div>
                                    <div data-value="Gamma">Gamma</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="step-content" id="step3">
                    <div class="legend-card">
                        <div class="calculation-settings">
                            <label class="calculation-label">Расчет длины в:</label>

                            <div class="custom-select">
                                <div class="select-selected">см</div>

                                <div class="select-items">
                                    <div data-value="meters">см</div>
                                    <div data-value="skeins">мотках</div>
                                </div>
                            </div>
                        </div>

                        <div class="legend-table-container">
                            <table class="legend-table">
                                <thead>
                                    <tr>
                                        <th>Символ</th>
                                        <th>Код нитки</th>
                                        <th>Длина нитки</th>
                                        <th>Действия</th>
                                    </tr>
                                </thead>
                                <tbody id="legendTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="navigation-buttons">
            <button class="create-btn" id="prevBtn" style="background: rgba(214, 92, 106, 0.8)">Назад</button>
            <button class="create-btn" id="nextBtn">Далее</button>
            <button class="create-btn" id="finishBtn">Готово</button>
        </div>
        
    </div>
</div>

<div id="errorBox" class="error-box"></div>
<div class="modal-overlay" id="savePatternModal">
    <div class="modal">
        <input type="text" id="titlePattern"
       value="{% if pattern %}{{ pattern.title }}{% endif %}"
       maxlength="255"
       placeholder="Введите название схемы">

        <div class="modal-buttons">
            <button id="saveBtn">Сохранить</button>
            <button id="cancelBtn">Отмена</button>
        </div>
    </div>
</div>
<script>
    const existingPattern = {% if pattern %}
        {
            id: {{ pattern.pattern_id }},
            width: {{ pattern.size_width }},
            height: {{ pattern.size_height }},
            canvas: "{{ pattern.canvas.name }}",
            palette: "{{ palette }}",
            data: `{{ pattern.pattern_data|escapejs }}`,
            legend: {{ legend|safe }}
        }
    {% else %}
        null
    {% endif %};
</script>

<script src="{% static 'js/create_pattern_steps.js' %}"></script>
{% endblock %}
