<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlossFriends - Схемы для вышивки</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/first_page.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">FlossFriends</div>
            </div>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <a href="{% url 'add_image_for_create' %}" class="nav-link">
                <button class="create-btn">
                    Создать схему
                </button>
            </a>

{% comment %} <a href="https://www.flaticon.com/ru/free-icons/" title="палитра иконки">Палитра иконки от Freepik - Flaticon</a> {% endcomment %}
            <h2 class="section-title">Возможности</h2>
            <div class="patterns-grid">
                <div class="pattern-card">
                    <div class="pattern-preview">
                        <img src="{% static 'images/convert.png' %}" alt="Превью схемы" class="preview-img">
                    </div>
                    <div class="pattern-info">
                        <h3 class="pattern-title">Конвертация изображений</h3>
                    </div>
                    
                </div>
                    
                <div class="pattern-card">
                    <div class="pattern-preview">
                        <img src="{% static 'images/pallete.png' %}" alt="Превью схемы" class="preview-img">
                    </div>
                    <div class="pattern-info">
                            <h3 class="pattern-title">Поддержка двух палитр</h3>
                        </div>
                    
                </div>

                <div class="pattern-card">
                    <div class="pattern-preview">
                        <img src="{% static 'images/calculate.png' %}" alt="Превью схемы" class="preview-img">
                    </div>
                    <div class="pattern-info">
                            <h3 class="pattern-title"> Расчет расхода ниток</h3>
                        </div>
                    
                </div>
                <div class="pattern-card">
                    <div class="pattern-preview">
                        <img src="{% static 'images/ai.png' %}" alt="Превью схемы" class="preview-img">
                    </div>
                    <div class="pattern-info">
                            <h3 class="pattern-title">Генерация по тексту</h3>
                        </div>
                    
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/first_page.js' %}"></script>
</body>
</html>