{% extends 'base.html' %}
{% load static %}

{% block title %}Мои схемы - FlossFriends{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_patterns.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="tab-content active" id="my-patterns-tab">
        <div class="create-section">
            <a href="/add_image_for_create/" class="nav-link">
                <button class="create-btn">
                    Создать схему
                </button>
            </a>
        </div>

       <div class="patterns-grid">
            {% for pattern in patterns %}
            <div class="pattern-card">

                <div class="pattern-menu">
                    <button class="menu-toggle">⋮</button>  
                    <div class="dropdown-menu">
                        <a href="{% url 'edit_pattern' pattern.pattern_id %}" class="menu-item">
                            Редактировать
                        </a>
                        <button type="button" class="menu-item delete" 
                                data-form-id="deleteForm{{ pattern.pattern_id }}">
                            Удалить
                        </button>
                        <form method="POST" action="{% url 'delete_pattern' pattern.pattern_id %}" 
                            id="deleteForm{{ pattern.pattern_id }}">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>

                <div class="pattern-preview">
                    <img src="{{ MEDIA_URL }}{{ pattern.image_preview }}" class="preview-img">
                </div>

                <div class="pattern-info">
                    <h3 class="pattern-title">{{ pattern.title }}</h3>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script src="{% static 'js/my_patterns.js' %}"></script>
{% endblock %}