{% extends 'base.html' %}
{% load static %}

{% block title %}Мой профиль - FlossFriends{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="profile-container">
        <div class="profile-info">
            <div class="avatar-section">
                <div class="avatar">
                    <img src="{% static 'images/avatar.png' %}" alt="Аватар" class="avatar-img">
                </div>
            </div>
            
            <form method="POST" action="{% url 'my_profile' %}" class="user-info-card">
                {% csrf_token %}
                
                <span class="info-label">Имя пользователя</span>
                <div class="info-item">
                    <input type="text" name="username" value="{{ user.username }}" class="info-value">
                </div>

                <span class="info-label">Электронная почта</span>
                <div class="info-item">
                    <input type="email" name="email" value="{{ user.email }}" class="info-value">
                </div>

                <span class="info-label">Пароль</span>
                <div class="info-item">
                    <input type="password" name="password" placeholder="Введите новый пароль" class="password-value">
                </div>

                <button type="submit" class="btn btn-save">Сохранить изменения</button>

                {% if error %}
                    <p style="color:red">{{ error }}</p>
                {% elif success %}
                    <p style="color:green">{{ success }}</p>
                {% endif %}
            </form>
        </div>

        <div class="profile-actions">
            <button type="submit" class="btn btn-logout" onclick="openExitModal()">Выйти</button>
            
            <button class="btn btn-delete" onclick="openDeleteModal()">Удалить профиль</button>
            
            
        </div>
        <form id="exitForm" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
        </form>
        <form id="deleteForm" method="POST" action="{% url 'delete_profile' %}">
            {% csrf_token %}
        </form>
    </div>
</div>
<script src="{% static 'js/my_profile.js' %}"></script>
{% endblock %}
